.git
.cache
.vscode
coverage
data
node_modules
out
release
release-gcp
release-images
release-npm-package
release-packages
release-standalone
test/node_modules
test/e2e/extensions/test-extension/node_modules
lib/vscode/node_modules
lib/vscode/.build
lib/vscode/.git
lib/vscode/out
lib/vscode/out-build
lib/vscode/out-vscode
lib/vscode-reh-web-*
*.log
.DS_Store
